<!--Create new area-->
<tr>
    <td>Area</td>
    <td>/api/area</td>
    <td>POST</td>
    <td>Create a new area</td>
    <td>
        <ul>
            <li>token (String)</li>
            <li>name (String)</li>
            <li>details (String)</li>
        </ul>
    </td>
</tr>

<!--Get the details of one area-->
<tr>
    <td>Area</td>
    <td>/api/area/:areaID</td>
    <td>GET</td>
    <td>Get the details of one area</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
            <li>areaID (Number)</li>
        </ul>
    </td>
</tr>

<!--Get the details of all areas-->
<tr>
    <td>Area</td>
    <td>/api/area</td>
    <td>GET</td>
    <td>Get the details of all areas</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
        </ul>
    </td>
</tr>

<!--Update area details-->
<tr>
    <td>Area</td>
    <td>/api/area/:areaID</td>
    <td>PUT</td>
    <td>Update the area details</td>
    <td>
        <ul>
            <li>token (String)</li>
            <li>areaID (String)</li>
            <li>name (String)</li>
            <li>details (String)</li>
        </ul>
    </td>
</tr>