<!--Create new cash collector-->
<tr>
    <td>Cash Collector</td>
    <td>/api/cashCollector</td>
    <td>POST</td>
    <td>Create a new cash collector</td>
    <td>
        <ul>
            <li>token (String)</li>
            <li>name (String)</li>
            <li>surname (string)</li>
            <li>nic (String)</li>
            <li>address (String)</li>
            <li>phone (String)</li>
            <li>areaID (String)</li>
        </ul>
    </td>
</tr>

<!--Get one cash collector details-->
<tr>
    <td>Cash Collector</td>
    <td>/api/cashCollector/:cashCollectorID</td>
    <td>GET</td>
    <td>Get the details of one cash collector</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
            <li>cashCollectorID</li>
        </ul>
    </td>
</tr>

<!--Get all cash collector details-->
<tr>
    <td>Cash Collector</td>
    <td>/api/cashCollector</td>
    <td>GET</td>
    <td>Get the details of all cash collectors</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
        </ul>
    </td>
</tr>