<!--Create new Customer-->
<tr>
    <td>Customer</td>
    <td>/customer</td>
    <td>POST</td>
    <td>Create a new customer</td>
    <td>
        <ul>
            <li>name (String)</li>
            <li>surname (String)</li>
            <li>nic (String)</li>
            <li>address (String)</li>
            <li>dob (Date) [MM-dd-YYYY]</li>
            <li>phone (String)</li>
            <li>areaID (Number)</li>
            <li>longitude (String)</li>
            <li>latitude (String)</li>
        </ul>
    </td>
</tr>

<!--Get one Customer's details-->
<tr>
    <td>Customer</td>
    <td>/customer/:customerID</td>
    <td>GET</td>
    <td>Get the details of one customer</td>
    <td>
        <ul>
            <li>customerID (Number)</li>
        </ul>
    </td>
</tr>

<!--Get all Customer details-->
<tr>
    <td>Customer</td>
    <td>/customer</td>
    <td>GET</td>
    <td>Get the details of all customers</td>
    <td></td>
</tr>

<!--Update customer details-->
<tr>
    <td>Customer</td>
    <td>/customer</td>
    <td>PUT</td>
    <td>Update the details of the customer</td>
    <td>
        <ul>
            <li>customerID (Number)</li>
            <li>name (String)</li>
            <li>surname (String)</li>
            <li>nic (String)</li>
            <li>address (String)</li>
            <li>dob (Date) [MM-dd-YYYY]</li>
            <li>phone (String)</li>
            <li>areaID (Number)</li>
            <li>longitude (String)</li>
            <li>latitude (String)</li>
        </ul>
    </td>
</tr>
