<!--Create new Transaction-->
<tr>
    <td>Transaction</td>
    <td>/api/transaction</td>
    <td>POST</td>
    <td>Create a new transaction</td>
    <td>
        <ul>
            <li>token (String)</li>
            <li>loanID (Number)</li>
            <li>amount (Number)</li>
            <li>cashCollectorID (Number)</li>
        </ul>
    </td>
</tr>

<!--Get one Transaction's details-->
<tr>
    <td>Transaction</td>
    <td>/api/transaction/:transactionID</td>
    <td>GET</td>
    <td>Get the details of one transaction</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
            <li>transactionID (Number)</li>
        </ul>
    </td>
</tr>

<!--Get all Transaction details-->
<tr>
    <td>transaction</td>
    <td>/api/transaction</td>
    <td>GET</td>
    <td>Get the details of all transactions</td>
    <td>
        <ul>
            <li>x-access-token[header] or token[query] (string)</li>
        </ul>
    </td>
</tr>

<!--Update Transaction details-->
<tr>
    <td>Transaction</td>
    <td>/api/transaction/:transactionID</td>
    <td>PUT</td>
    <td>Update the details of the transaction</td>
    <td>
        <ul>
            <li>token (String)</li>
            <li>transactionID (Number)</li>
            <li>loanID (Number)</li>
            <li>date (Date) [MM-dd-YYYY]</li>
            <li>amount (Number)</li>
            <li>cashCollectorID (Number)</li>
            <li>status (String)</li>
        </ul>
    </td>
</tr>
